@font-face {
    font-family: "nunito-regular";
    src: url("./fonts/Nunito-Regular.ttf") format("opentype")
}

* {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: inherit;
}

img {
    display: block;
}

button {
    font-size: inherit;
    cursor: pointer;
}

ol, ul {
    padding: 0;
    list-style: none;
}

html {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    min-height: 100vh;
    max-height: 100%;
    max-height: 100vh;
    padding: 0;
}

body {
    overflow-x: hidden;
    line-height: 1;
    font-family: "nunito-regular", Arial, Helvetica, sans-serif;
    color: #f3f3f3;
    background-color: rgb(27, 27, 27);
    background-image: linear-gradient(130deg, rgb(27, 27, 27) 1%, rgb(15, 15, 15) 50%);
}

.map-wrapper {
    position: relative;
    margin: 2em auto;
    padding-bottom: 20em;
    background: none;
}

#map {
    position: absolute;
    top: 0;
    border-radius: .5em;
    display: flex;
    width: 100%; 
    height: 100%;
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo {
    display: none!important;
}

main {
    margin: 0 auto;
    min-width: 60%;
    max-width: 75%;
}

section {
    text-align: center;
    font-size: 1em;
    margin: 1em;
    border-radius: .5em;
    text-decoration: none;
    display: block;
    background-color: rgb(129, 81, 184);
    background-image: linear-gradient(150deg, rgb(79, 106, 194) 1%,rgb(129, 81, 184) 50%);
    border-style: none;
    padding: 3% 0;
}

img {
    margin: 0 auto;
    margin-top: -3.1%;
    border-radius: .5em;
    width: 100%;
}

.steps {
    display: block;
}
h1 {
    margin: .5em;
    text-align: center;
    font-size: 2em;
}

p {
    margin-bottom: 1em;
}

input {
    background-color: #f4f4f4;
    color: rgb(67, 0, 145);
    font-size: .7em;
    font-weight: 800;
    min-width: 30%;
    margin-left: 1em;
    border-style: none;
    padding: 1em;
    border-radius: .5em;
}

a {
    text-align: center;
    font-size: 3em;
    border-radius: .2em;
    text-decoration: none;
    display: block;
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(52, 84, 190) 1%, rgb(67, 0, 145) 50%);
    border-style: none;
    padding: 5% 0;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: .2em;
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(52, 84, 190) 1%, rgb(67, 0, 145) 50%);
    border-style: none;
    padding: 5% 0;
}

button {
    border-radius: .2em;
    color: rgb(67, 0, 145);
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(149, 207, 255) 1%, rgb(206, 164, 255) 50%);
    background-color: rgb(149, 207, 255);
    border-style: none;
    padding: .65em;
    margin: .5em;
}

@supports (display: flex) {
    ul {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
}

ul li {
    margin: .5em 0;
    margin-right: .5em; 
}

ul li a{
    font-size: 1em;
    border-radius: .2em;
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(52, 84, 190) 1%, rgb(67, 0, 145) 50%);
    padding: .5em;
}

.current {
    border-radius: .2em;
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(52, 84, 190) 1%, rgb(67, 0, 145) 50%);
    padding: .5em;
}

.completed {
    border-radius: .2em;
    background-color: rgb(52, 84, 190);
    background-image: linear-gradient(150deg, rgb(52, 84, 190) 1%, rgb(67, 0, 145) 50%);
    opacity: 0.5;
    border-style: none;
    padding: .5em;
}