<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            You found the Device Lab! Good Job!
        </h1>
        <a href="/">
            Stop the navigation
        </a>
    </main>
</body>
</html>