<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            You found the Device Lab! Good Job!
        </h1>
        <a href="/">
            Stop the navigation
        </a>
        <ul>
            <li>
                <a href="/start" class="completed">Start</a>
            </li>
            <li>
                <a href="/step1" class="completed">•</a>
            </li>
            <li>
                <a href="/step2" class="completed">•</a>
            </li>
            <li>
                <a href="/finish" class="current">Finish</a>
            </li>
        </ul>
    </main>
</body>
</html>