<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' type='text/css' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Web App From Scratch
        </h1>
        <input type="text" class="searchBox" />
        <section>
            <div class="photos">
                <% images.forEach(function(image) { %>
                    <div class="image-wrapper">
                        <img 
                            class="image" 
                            src="<%= image.urls && image.urls.regular %>" 
                            data-location="<%= image.user && image.user.location %>"
                            style="background-color: <%= image.color %>;"
                            alt="image">
                        <a href="/detail/<%= image.id %>">More about this picture</a>
                    </div>
                <% }) %>
            </div>
            <div id="map" style="min-width: 40vw; max-height: 90vh; margin-top: 2em; margin-right: 2em; position: relative;"></div>
        </section>
    </main>

    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <script src="js/mapbox.js"></script>
    <script src="js/script.js"></script>
</body>
</html>