<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main class="Center">
        <div class="Center__wrap">
            <h1>
                Find my route to the Device Lab
            </h1>
            <p>
                In the Device Lab you can test your application on multiple devices! 
                In this application you can find your way to the device lab, by providing a certain location.
            </p>
            <form action="/setLocation" name="from" method="POST" class="form-location">
                <label for="from">
                    From
                    <input id="from" type="text" name="location" placeholder="Amsterdam" required>
                </label>
                <button type="submit">Start my route</button>
            </form>
        </div>
    </main>
    <script src="../../../js/featureDetection.js"></script>
    <script src="../../../js/index.js"></script>
</body>
</html>