<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Find my route to the Device Lab
        </h1>
        <a href="/transport">
            Start from home
        </a>
    </main>
    <script src="../../../js/featureDetection.js"></script>
    <script src="../../../js/index.js"></script>
</body>
</html>