<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Find my route to the Device Lab
        </h1>
        <button>
            Go from my current location
        </button>
        <form>
            From
            <input type="text">
            <button>
                Start my route
            </button>
        </form>
    </main>
</body>
</html>