<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Find my route to the Device Lab
        </h1>
        <a href="/transport">
            Start from home
        </a>
        <a href="/transport">
            Go from my current location
        </a>
        <form name="from" action="/setLocation" method="POST">
            <label for="from">From</label>
            <input type="text" id="from" name="location">
            <button type="submit">
                Start my route
            </button>
        </form>
    </main>
</body>
</html>