<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>Start</h1>
        <a href="<%= nextRoute %>">Leave your home and go on a adventure</a>
    </main>
</body>
</html>