<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <% if(json) { %>
            <section>
                <h1>Start</h1>
                <ul>
                    <li><%= json.start.direction %></li>
                    <li><%= json.start.min %></li>
                </ul>
                <a href="<%= nextRoute %>">Step 1</a>
            </section>
            <ul>
                <li>
                    <a href="/start" class="current">Start</a>
                </li>
                <li>
                    <a href="/step1">•</a>
                </li>
                <li>
                    <a href="/step2">•</a>
                </li>
                <li>
                    <a href="/finish">Finish</a>
                </li>
            </ul>
        <% } %>
    </main>
</body>
</html>