<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <dl>
            <dt>Step 1</dt>
            <dd>Follow the A4 till Amsterdam</dd>
        </dl>
        <a href="/step2">Step 2</a>
        <ul>
            <li>
                <a href="/start" class="completed">Start</a>
            </li>
            <li>
                <a href="/step1" class="current">•</a>
            </li>
            <li>
                <a href="/step2">•</a>
            </li>
            <li>
                <a href="/finish">Finish</a>
            </li>
        </ul>
    </main>
</body>
</html>