<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <dl>
            <dt>Step 2</dt>
            <dd>Go to Wibautstraat 2,4 Theo Thijssen Huis HvA</dd>
        </dl>
        <a href="/finish">Done</a>
        <ul>
            <li>
                <a href="/start" class="completed">Start</a>
            </li>
            <li>
                <a href="/step1" class="completed">•</a>
            </li>
            <li>
                <a href="/step2" class="current">•</a>
            </li>
            <li>
                <a href="/finish">Finish</a>
            </li>
        </ul>
    </main>
</body>
</html>