<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <form action="/finish" method="POST">
            <dl>
                <dt>Step 2</dt>
                <dd>Go to Wibautstraat 2,4 Theo Thijssen Huis HvA</dd>
            </dl>
            <button>Done</button>
        </form>
    </main>
</body>
</html>