<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
       <form action="/step2" method="POST">
           <dl>
               <dt>Step 1</dt>
               <dd>Go to the right on Laan van Loevestein</dd>
           </dl>
           <button>Step 2</button>
       </form>
    </main>
</body>
</html>