<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Choose your form of transport
        </h1>
        <a href="/start">
            Car
        </a>
        <a href="/start">
            Walking
        </a>
    </main>
</body>
</html>