<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>
    <main>
        <h1>
            Choose your form of transport
        </h1>
        <button>
            Car
        </button>
        <button>
            Walking
        </button>
    </main>
</body>
</html>